@CHARSET "UTF-8";
body {
	color: #000000;
	font-size: 12px;
	font-family:微软雅黑;
}
form {
	margin: 0;
	padding: 0;
}

img {
	border: 0 none;
}

a img {
	border: 0 none;
}
.bodycolor {
    background: none repeat scroll 0 0 #F6F7F9;
}
table {
	border-collapse: collapse;
}

a {
	outline: medium none;
}

a:LINK a:HOVER a:VISITED a:ACTIVE{
	color: #0466CB;
	text-decoration: none;
}

.ui-button {
    cursor: pointer;
    display: inline-block;
    margin-right: 0.1em;
    overflow: visible;
    padding: 0;
    position: relative;
    text-align: center;
}

#dialog-link {
    padding: 0.4em 1em 0.4em 1em;
    position: relative;
    text-decoration: none;
}
.ui-state-default{
	padding: 0.4em 1em 0.4em 1em;
    position: relative;
    text-decoration: none;
    background: url("../images/jqueryui/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    border: 1px solid #D3D3D3;
    color: #555555;
    font-weight: normal;
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
     border-bottom-left-radius: 4px;
     border-bottom-right-radius: 4px;
}
#result{
	margin-bottom: 30px;
}
#reply_container{width: 100%; height:900px; background-color: #ccc;}

#close{ display:none;}
